<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body style="background-color: lightslategrey;">


    <div class="container" style="background-color: tomato; border-radius: 20px;">
        <center>
            <hr>
            <h2 class="text-center text-white">Cotización</h2><br>
            <img width="100px"
                src="https://static.vecteezy.com/system/resources/previews/001/193/767/non_2x/compact-car-png.png"
                alt="imagen carro">
            <br><br>

            <form action="/cotizacion" method="p">
                <div class="form-group">
                    <label for="valor" class="text-white">Valor del Automóvil:</label>
                    <input type="number" id="valor" name="valor" class="form-control" required="true">
                </div>
                <div class="form-group">
                    <label for="pinicial" class="text-white">Porcentaje de Pago Inicial</label>
                    <select name="pinicial" id="pinicial" class="form-control">
                        <option value="10">10%</option>
                        <option value="30">30%</option>
                        <option value="50">50%</option>
                        <option value="70">70%</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="plazo" class="text-white">Plazos</label>
                    <select name="plazo" id="plazo" class="form-control">
                        <option value="12">12 meses</option>
                        <option value="24">24 meses</option>
                        <option value="36">35 meses</option>
                        <option value="48">48 meses</option>
                        <option value="60">60 meses</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Calcular</button>
                    <button type="reset" class="btn btn-danger">Limpiar</button>
                </div>
            </form>
            <% if (valor) {
                const pagoInicial = valor * (pinicial / 100);
                const totalFin = valor - pagoInicial;
                const pMensual = totalFin / plazo;
            %>
            <hr>
            <h3 class="text-center text-white">Información de la Cotización</h3>
            <hr><br>
            <p class="text-white">Valor del Automóvil: <%=valor%></p>
            <p class="text-white">Porcentaje de Pago Inicial : <%=pinicial%>%</p>
            <p class="text-white">Plazos : <%=plazo%> meses</p>

            <p class="text-white">Pago Inicial : <%=pagoInicial%></p>
            <p class="text-white">Total a financiar : <%=totalFin%></p>
            <p class="text-white">Pago Mensual : <%=pMensual%></p>
            <% } %>
            <br><br>
            <hr>
    </div>
</body>