<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Practica 01 EJS </title>
</head>

<body style="background-color: lightslategrey;">

    <div class="container py-5">

        <div class="text-center mb-5">
            <h1 class="display-4"><%=titulo%></h1>
            <h2 class="lead"><%=nombre%></h2>
            <h2 class="lead"><%=grupo%></h2>
            <img src="./img/logo_oficial.png" alt="" class="img-fluid">
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Matricula:</th>
                        <th scope="col">Nombre:</th>
                        <th scope="col">Sexo:</th>
                        <th scope="col">Materias:</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(item of listado){ %>
                    <tr>
                        <td><%=item.matricula%></td>
                        <td><%=item.nombre%></td>
                        <td><%=item.sexo%></td>
                        <td><%=item.materias%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
</body>

</html>