<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Vincular hojas de estilo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Tabla de multiplicar</title>
</head>

<body style="background-color: lightslategrey;">

      

    <div class="container mt-5">
        <h1 class="text-center mb-4">Tabla de multiplicar</h1>
        <form class="form-inline justify-content-center mb-4" action="/tabla" method="post">
            <div class="form-group mr-2">
                <label for="numero" class="mr-2">Tabla:</label>
                <input type="text" id="numero" name="numero" class="form-control" required="true" value=<%=numero%>>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>

        <% if(numero!=null){ %>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Operación</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    <% let res = 0; %>
                    <% for(con=0;con<=10;++con){ %>
                    <% res = numero * con; %>
                    <tr>
                        <td><%=numero%> x <%=con%></td>
                        <td><%=res%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } %>
    </div>

    <!-- Vincular archivos de script de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>