.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.header a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

.header a:hover {
    color: #0088cc;
}